body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial;
}

h1 {
	margin-top: 0px;
	font-family: Georgia;
	font-weight: bold;
	margin-bottom: 5px;
}

h3 {
	margin-top: 5px;
	font-family: Georgia;
	font-weight: bold;
}

h4 {
	font-family: Georgia;
	font-weight: bold;
}

.header{
	height: 100px;
	padding: 20px;
	border: solid;
	border-color: #FFFFFF;
	text-align: center;
}

.main{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	border: solid;
	border-color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 24px;
		}
	h3 {
		font-size: 18px;
		}
	h4 {
		font-size: 14px;
		}
	.header{
		height: 120px;
		}
}