<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kishou-shu Tensei</title>
  
  <!-- Link to CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>

<body>

  <!-- Header Section -->
  <div class="header">
    <h1>Kishou-shu Tensei</h1> 
    <h3>~Hito ga Kishouna Sekai de Cafe o Keiei Shite Imasu~</h3>
    <h4>Rare Species Reincarnation ~Running a Café in a World Where Humans Are Rare~</h4>
  </div>

  <!-- Main Content -->
  <div class="main">

  </div>



  <!-- Footer Section -->
  <div class="footer">
    <!-- You can add footer content here -->
  </div>

</body>
</html>
